<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%=section_title%></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%=todos.count%></p>
  </div>
  <ul>
    <% todos.each do |todo|%>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
             <%= check_box_tag( "completed", "isCompleted",todo.completed,
                  class: "TodoItem-checkbox",
                  onclick: "this.form.submit()",
                ) %>
          <%end%>
          <p class=
            '<%= todo.completed ? "todocompleted" : ""%>'
          >
            <%= todo.todo_text%>
          </p>
          <% if show_due_date%>
            <p class="TodoItem-date">
              <%=todo.due_date.to_s(:short)%>
            </p>
          <%end%>
          <%= form_with(url: "/todos/#{todo.id}", method:"delete") do %>
            <%= image_submit_tag( "folder_trash.png",
                                  class: 'TodoItem-image')
            %>
          <%end%>
        </label>
      </li>
    <%end%>
  <ul>
</section>
